/* GWC COLORS */
/* #FA7815
#FFF9E2
#FDD946
#0D38D3
#003046
#D7F9F4
#0D9C90
#43D6B9
#1A1918
 */
/* GWC FONTS */


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --bg: #FFF9E2;
  --accent: #FDD946;
  --accent-dark: #0D38D3;
  --text: #1A1918;
  --light: #003046;
}

body {
  font-family: 'Roboto Mono';
  background: var(--bg);
  color: var(--text);
  margin: 0;
  padding: 0;
}

header {
  background: var(--accent);
  color: white;
  text-align: center;
  padding: 2rem;
  border-bottom: 6px dashed var(--light);
}

header h1 {
  font-family: 'Roboto Mono';
  font-size: 3rem;
  margin: 0;
}

header p {
  font-size: 1.1rem;
  margin: 0.5rem 0 1rem;
}

nav a {
  margin: 0 1rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  background: var(--accent-dark);
  padding: 0.5rem 1rem;
  border-radius: 12px;
  transition: background 0.2s ease-in-out;
}

nav a:hover {
  background: #003046;
}

main {
  padding: 2rem;
  max-width: 700px;
  margin: auto;
}

article {
  background: white;
  border-left: 6px solid var(--accent-dark);
  padding: 1rem;
  margin-bottom: 1.5rem;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.05);
  border-radius: 8px;
}

article h3 {
  margin-top: 0;
  font-family: 'Roboto Mono';
}

article a {
  color: var(--accent-dark);
  text-decoration: none;
}

article a:hover {
  text-decoration: underline;
}
